<div class="row">
    <div class="col-xs-4 col-md-2"></div>
    <div class="thead scroll" id="magic1">
        <div>
            <div>Row head</div>
            <div>Row head</div>
            <div>Row head</div>
            <div>Row head</div>
            <div>Row head</div>
            <div>Row head</div>
            <div>Row head</div>
            <div>Row head</div>
            <div>Row head</div>
            <div>Row head</div>
        </div>
    </div>

    <div style="overflow: hidden;">
        <div class="firstcol scroll col-xs-4 col-md-2" id="magic3">
            <div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
                <div>col</div>
            </div>
        </div>

        <div class="scroll" id="magic2">
            <table>
                <tbody>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                <tr>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rtse rse t</div></td>
                    <td><div class="btn">tesse t tesrse rse t</div></td>
                    <td><div class="btn">tesse rssee rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse rse rse t</div></td>
                    <td><div class="btn">tesse serse rse t</div></td>
                    <td><div class="btn">tesse rtsese rse t</div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>