<div class="row">
    <input #week type="month" (change)="switchWeek(week.valueAsDate)" value="{{month}}" class="form-control"
           style="margin: 5px;">
    <div class="col-xs-2 col-md-1"></div>
    <div class="thead scroll" id="magic1">
        <div>
            <div *ngFor="let workplace of workplaces | async">{{workplace.name}}</div>
        </div>
    </div>

    <div style="overflow: hidden;">
        <div class="firstcol scroll col-xs-2 col-md-1" id="magic3" style="padding: 0px">
            <div>
                <div *ngFor="let d of days" [ngStyle]="{'height': ((getUserCountAll(d)*27) - (getUserCountAll(d) - 1)*3) + 'px'}" style="border: 1px solid black; text-align: right">{{d}}</div>
            </div>
        </div>

        <div class="scroll" id="magic2">
            <table>
                <tbody>
                <tr *ngFor="let d of days" style="border: 2px solid black">
                    <td *ngFor="let workplace of workplaces | async" style="vertical-align:top">
                        <div *ngIf="getUserCount(workplace._id, d) > 0">
                            <shiftsbutton *ngFor="let user of getUsers(workplace._id, d)"
                                          [usersList]="usersByWorkplace(workplace._id)"
                                          [user]="userById(user)"
                                          [note]="user.note"
                                          [id]="user._id"
                                          (onCreate)="setUser(d, workplace._id, $event)"
                                          (onChange)="changeUser(user, $event)"
                                          (onDelete)="deleteShift(user)"
                            ></shiftsbutton>
                        </div>
                        <shiftsbutton *ngIf="getUserCount(workplace._id, d) === 0"
                                      [usersList]="usersByWorkplace(workplace._id)"
                                      (onCreate)="setUser(d, workplace._id, $event)"
                        ></shiftsbutton>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>